<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
</head>
<body>
  <h2>Panel Administrativo</h2>
  <p>Servidor listo para almacenar Débitos Automáticos.</p>
  <a href="/logout">Cerrar sesión</a>
</body>
<script>
async function cargarArchivos() {
  const res = await fetch("/api/files");
  const archivos = await res.json();

  const lista = document.getElementById("lista");
  lista.innerHTML = "";

  archivos.forEach(nombre => {
    const div = document.createElement("div");
    div.innerHTML = `
      <a href="/uploads/${nombre}" target="_blank">${nombre}</a>
      <hr>
    `;
    lista.appendChild(div);
  });
}

cargarArchivos();
</script>

  

</html>
